
<%= link_to ' logout', destroy_user_session_path, method: :delete %>


<main>
	<div class="wrapper">
		<input type="" name="" class="search-form">
		<a class="mypage-search-btn" href="../texts/index.html" title=""><button type="" class="search-btn">a</button></a>
	</div>
	<div class="wraper prof-box clearfix">
		<div class="prof-box-image">
			<img src="../image01.jpg" class="prof-box-image-item">
		</div>
		<div class="prof-box-text">
			<div class="clearfix"><div class="prof-box-text-name"><%= current_user.name %></div><div class="prof-box-text-college"><%= current_user.campus_id %></div></div>
			<div class="prof-box-text-info clearfix">
				<div class="prof-box-text-info-box">
					<div>登録している本</div>
					<div>3</div>
				</div>
				<div class="prof-box-text-info-box">
					<div>貸している本</div>
					<div>3</div>
				</div>
				<div class="prof-box-text-info-box">
					<div>借りている本</div>
					<div>3</div>
				</div>
			</div>
		</div>
	</div>
	<div class="wrapper">
		<div class="tabs">
		    <input id="texts" type="radio" name="tab_item" checked>
		    <label class="tab_item" for="texts">教科書一覧</label>
		    <input id="req_from" type="radio" name="tab_item">
		    <label class="tab_item" for="req_from">受けている申請</label>
		    <input id="req_to" type="radio" name="tab_item">
		    <label class="tab_item" for="req_to">出した申請</label>
		    <div class="tab_content" id="texts_content">
		        <dl class="acMenu">
					<dt>リスト名１</dt>
					<dd>
						<div>教科書名１</div>
						<div>教科書名2</div>
						<div>教科書名3</div>
					</dd>
					<dt>リスト名２</dt>
					<dd>
						<div>教科書名１</div>
						<div>教科書名2</div>
						<div>教科書名3</div>
					</dd>
					<dt>リスト名３</dt>
					<dd>
						<div>教科書名１</div>
						<div>教科書名2</div>
						<div>教科書名3</div>
					</dd>
				</dl>
		    </div>
		    <div class="tab_content" id="req_from_content">
		        
			</div>
		    <div class="tab_content" id="req_to_content">
		    </div>
		</div>
	</div>
</main>
