
<%= link_to ' logout', destroy_user_session_path, method: :delete %>


<main>
	<div class="wrapper">
		<a class="mypage-search-btn" href="/requests/index" title=""><button type="" class="search-btn">本を探す</button></a>
	</div>
	<div class="wraper prof-box clearfix">
		<div class="prof-box-image">
			<img src="https://pbs.twimg.com/profile_images/985713817022689280/xVuP0KGs_400x400.jpg" class="prof-box-image-item">
		</div>
		<div class="prof-box-text">
			<div class="clearfix"><div class="prof-box-text-name"><%= current_user.name %></div><div class="prof-box-text-college">campus:<%= current_user.campus_id %></div></div>
			<div class="prof-box-text-info clearfix">
				<div class="prof-box-text-info-box">
					<div>登録している本</div>
					<div>3</div>
				</div>
				<div class="prof-box-text-info-box">
					<div>貸している本</div>
					<div>3</div>
				</div>
				<div class="prof-box-text-info-box">
					<div>借りている本</div>
					<div>3</div>
				</div>
			</div>
		</div>
	</div>
	<div class="wrapper">
		<div class="tabs">
		    <input id="texts" type="radio" name="tab_item" checked>
		    <label class="tab_item" for="texts">教科書一覧</label>
		    <input id="req_from" type="radio" name="tab_item">
		    <label class="tab_item" for="req_from">チャット</label>
		    <input id="req_to" type="radio" name="tab_item">
		    <label class="tab_item" for="req_to">履歴</label>
		    <div class="tab_content" id="texts_content">
		        <dl class="acMenu">
					<dt>リスト名１</dt>
					<dd>
						<table class="table-hun">
							<tr>
								<td class="title">教科書名1</td>
								<td><a href="#" class="request_btn">借りたい</a></td>
							</tr>
							<tr>
								<td class="title">教科書名1</td>
								<td><a href="#" class="request_btnn">借りたい</a></td>
							</tr>
							<tr>
								<td class="title">教科書名1</td>
								<td><a href="#" class="request_btnn">借りたい</a></td>
							</tr>
						</table>
					</dd>
					<dt>リスト名２</dt>
					<dd>
						<table class="table-hun">
							<tr>
								<td class="title">教科書名1</td>
								<td><a href="#" class="request_btn">借りたい</a></td>
							</tr>
							<tr>
								<td class="title">教科書名1</td>
								<td><a href="#" class="request_btnn">借りたい</a></td>
							</tr>
							<tr>
								<td class="title">教科書名1</td>
								<td><a href="#" class="request_btnn">借りたい</a></td>
							</tr>
						</table>
					</dd>
					<dt>リスト名３</dt>
					<dd>
						<table class="table-hun">
							<tr>
								<td class="title">教科書名1</td>
								<td><a href="#" class="request_btn">借りたい</a></td>
							</tr>
							<tr>
								<td class="title">教科書名1</td>
								<td><a href="#" class="request_btnn">借りたい</a></td>
							</tr>
							<tr>
								<td class="title">教科書名1</td>
								<td><a href="#" class="request_btnn">借りたい</a></td>
							</tr>
						</table>
					</dd>
				</dl>
		    </div>
		    <div class="tab_content" id="req_from_content">
		        <div class="panel panel-default">
			        <div class="panel-body">
			            <div id='chat'></div>
			        </div>
			    </div>
			    <div class='inputText'>
			        <input type="text" id="txt" class="form-control">
			        <button type="button" class="btn btn-info chat-btn">送信</button>
			    </div>
			</div>
		    <div class="tab_content" id="req_to_content">
		    </div>
		</div>
	</div>
</main>
